[Desktop Entry]
Type=Application
Icon=harbour-seaprint
Exec=harbour-seaprint
#Exec=/usr/bin/sailjail -p net.attah.seaprint.desktop /usr/bin/harbour-seaprint
Name=SeaPrint
[X-Sailjail]
Permissions=Internet;Pictures;Documents;Downloads;MediaIndexing
OrganizationName=net.attah
ApplicationName=seaprint

